{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<style>
  .login #header { padding: 18px 24px; }
  .login #content { padding: 24px; }
  .login .form-row label { color: #433f3a; font-weight: 500; }
  .login #container { border-radius: 8px; box-shadow: 0 12px 24px rgba(10, 22, 40, 0.12); }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
